{% for trick in tricks %}
    <div class="col-lg-4 mb-4">
        <div class="card">
            <img src="{{ asset('uploads/coverImages/') }}{{ trick.coverImage }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="d-inline-block card-title">{{ trick.name }}</h5>
                <a href="{{ path('trick_edit', {'id': trick.id}) }}" class="btn p-0 mb-1"><i class="bi bi-pen-fill"></i></a>
                {{ include('trick/_delete_form.html.twig') }}
                <p class="card-text text-truncate">{{ trick.description }}</p>
                <a href="{{ path('trick_show', {'id': trick.id}) }}" class="btn btn-primary">Voir la figure</a>
            </div>
        </div>
    </div>
{% else %}
    <div class="alert alert-warning text-center" role="alert">
        <i class="bi bi-exclamation-triangle-fill"></i> Il n'y a pas encore de figure(s).
    </div>
{% endfor %}
