{% for trick in tricks %}
    <div class="col-12 col-lg-4 mb-4">
        <div class="card">
            <img src="{{ 'trick-placeholder' in trick.coverImage ? asset('uploads/placeholder/') ~ trick.coverImage : asset('uploads/coverImages/') ~ trick.coverImage }}"
                 class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <a href="{{ path('trick_show', {'id': trick.id}) }}" class="d-inline-block link-primary">{{ trick.name }}</a>
                {% if app.user and app.user.id == trick.user.id %}
                <a href="{{ path('trick_edit', {'id': trick.id}) }}" class="btn p-0 mb-1"><i class="bi bi-pen-fill"></i></a>
                {{ include('trick/_delete_form.html.twig') }}
                {% endif %}
                <p class="card-text text-truncate">{{ trick.description }}</p>
            </div>
        </div>
    </div>
{% else %}
    <div class="alert alert-warning text-center" role="alert">
        <i class="bi bi-exclamation-triangle-fill"></i> Il n'y a pas encore de figure(s).
    </div>
{% endfor %}
