{% block _trick_videos_widget %}
    {{ form_widget(form) }}
    <input type="hidden" id="widgets-counter" value="0">
    <button type="button" id="add-video" class="btn btn-dark"><i class="bi bi-plus-circle"></i>&ensp;Ajouter une vidéo
    </button>
{% endblock %}

{% block _trick_pictures_widget %}
    {{ form_widget(form) }}
{% endblock %}


 {% block _trick_videos_entry_row %}
     {{ form_widget(form) }}
 {% endblock %}
{% block _trick_pictures_entry_row %}
    {{ form_widget(form) }}
{% endblock %}


 {% block _trick_coverImage_row %}
     {% if form.parent.vars.data.coverImage is defined %}
         {% set coverImage = form.parent.vars.data.coverImage %}
     {% endif %}
     <div class="row align-items-end mb-3">
         <div class="col-12 col-md-{{ coverImage is defined ? 10 : 12 }} mb-3 mb-md-0">
             {{ form_label(form) }}
             {{ form_widget(form) }}
         </div>
         <div class="col-12 col-md-2">
             {% if coverImage is defined %}
                 <img src="{{ 'trick-placeholder' in coverImage ? asset('uploads/placeholder/') ~ coverImage : asset('uploads/coverImages/') ~ coverImage }}"
                      class="img-fluid" alt=""/>
             {% endif %}
         </div>
         {{ form_errors(form) }}
     </div>
 {% endblock %}

 {% block _trick_pictures_row %}
     <div class="form-group" id="block_{{ id }}">
         <div class="row">
             <div class="col-12">
                 <div class="row">
                     <div class="col-12 mb-3">
                         {{ form_label(form) }}
                         {{ form_widget(form) }}
                         {{ form_errors(form) }}
                     </div>
                     {% if form.parent.vars.data.pictures is defined %}
                         {% for picture in form.parent.vars.data.pictures %}
                             <div class="col-md-4 mb-3 position-relative">
                                 <img src="{{ asset('uploads/pictures/' ~ picture.name) }}" class="d-inline img-fluid"
                                      alt="">
                                 <a href="{{ path('picture_delete', {'id': picture.id}) }}"
                                    class="btn btn-danger position-absolute top-0" id="delete-picture"><i
                                             class="bi bi-x-lg"></i></a>
                             </div>
                         {% endfor %}
                     {% endif %}
                 </div>
             </div>
         </div>
     </div>
 {% endblock %}


 {% block _trick_videos_entry_widget %}
     <div class="form-group mb-3" id="block_{{ id }}">
         <div class="row">
             <div class="col-10">
                 <div class="row">
                     <div class="col">
                         {{ form_widget(form.link) }}
                     </div>
                 </div>
             </div>
             <div class="col-2 px-1 px-sm-2">
                 <button type="button" data-action="delete" data-target="#block_{{ id }}" class="btn btn-danger">
                     <i class="bi bi-x-lg"></i>
                 </button>
             </div>
             {{ form_errors(form.link) }}
         </div>
     </div>
 {% endblock %}
