{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container">
    <div id="trick-container" class="row">
    {{ include('partials/_load_more_tricks.html.twig') }}
    </div>
    {% if tricks is not empty %}
        <div class="row">
            <div class="col text-center">
                <a class="btn btn-primary" id="load-more" data-next-page="{{ nextPage }}" href="{{ path('trick_pagination') }}">
                    <span role="status" aria-hidden="true"></span>
                    Afficher plus
                </a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('toast') }}
    {{ encore_entry_script_tags('ajaxPagination') }}
{% endblock %}
