{% extends 'base.html.twig' %}

{% block title %}Trick : {{ trick.name }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="position-relative text-center mb-4">
            <img src="{{ 'trick-placeholder' in trick.coverImage ? asset('uploads/placeholder/') ~ trick.coverImage : asset('uploads/coverImages/') ~ trick.coverImage }}"
                 class="card-img-top" alt="...">
            <div class="h1 text-secondary position-absolute top-50 start-50 translate-middle-x">{{ trick.name }}</div>
        </div>

        <div class="d-flex justify-content-center mt-2 mb-2">
            <button id="display-media" class="btn btn-primary btn-display">
                Voir les médias
            </button>
        </div>

        <section class="slider" id="slider">
            {% for picture in trick.pictures %}
                <img src="{{ asset('uploads/pictures/') }}{{ picture.name }}" alt="">
            {% endfor %}
            {% for video in trick.videos %}
                <iframe
                        width="560"
                        height="196"
                        src="{{ video.link }}"
                        frameborder="0"
                        allowfullscreen
                >
                </iframe>
            {% endfor %}
        </section>
        <div class="mt-4">
            <h5 class="card-title">{{ trick.name }}</h5>
            <p class="card-text">{{ trick.description }}</p>
            <p class="mb-4">
                {% set user = trick.user %}
                {{ user.id | avatar }} Par {{ user.pseudo }}
                {% if not trick.modifyAt %}
                    le {{ trick.createdAt | date('d/m/Y') }} à {{ trick.createdAt | date('H:i') }}
                {% else %}
                    édité le {{ trick.modifyAt | date('d/m/Y') }} à {{ trick.modifyAt | date('H:i') }}
                {% endif %}
                <span class="badge rounded-pill bg-primary float-end">{{ trick.label }}</span>
            </p>
        </div>
        {% include 'trick/_comments.html.twig' %}

        <h3 class="mb-4">Tous les commentaires</h3>

        <div id="comment-container">
            {% if trick.getComments() | length == 0 %}
                <div class="alert alert-danger py-4 my-4">
                    Il n'y a encore aucun commentaire sur ce trick !
                </div>
            {% else %}
                <div id="container-pagination">
                    {{ include('partials/_load_more_comments.html.twig') }}
                </div>
            {% endif %}
        </div>
        {% if comments  | length == 10 %}
            <div class="d-flex justify-content-center py-4">
                <a class="btn btn-primary" id="load-more" data-next-page="{{ nextPage }}"
                   href="{{ path('comment_pagination', {'id': trick.id}) }}">
                    <span role="status" aria-hidden="true"></span>
                    Afficher plus
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('slider') }}
    {{ encore_entry_script_tags('toast') }}
    {{ encore_entry_script_tags('ajaxPagination') }}
{% endblock %}
